@import "tailwindcss";

/* Force identical Light Mode */
:root,
:root.dark,
html.dark,
html[data-theme="dark"] {
  color-scheme: light;
}

/* Hard override all dark-mode tailwind variables */
.dark {
  --tw-bg-opacity: 1 !important;
  --tw-text-opacity: 1 !important;
}

/* Global background*/
body,
html,
* {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #e5e7eb !important;
  overflow-x: hidden;
}

/* Prevent components from flipping colors in dark mode */
.dark .bg-white,
.bg-white {
  background-color: #ffffff !important;
}

.dark .text-black,
.text-black {
  color: #000000 !important;
}

.dark .bg-gray-100,
.bg-gray-100 {
  background-color: #f5f5f5 !important;
}

.dark .bg-gray-200,
.bg-gray-200 {
  background-color: #e5e7eb !important;
}

.dark .bg-gray-700,
.bg-gray-700 {
  background-color: #3f3f46 !important;
}

/* Buttons */
.dark .hover\:bg-blue-600:hover,
.hover\:bg-blue-600:hover {
  background-color: #2563eb !important;
}

button {
  background-color: #bfbebe !important;
}

.dark .hover\:bg-gray-300:hover,
.hover\:bg-gray-300:hover {
  background-color: #d4d4d4 !important;
}

/* Inputs */
.dark input,
input {
  background-color: #ffffff !important;
  color: #000000 !important;
}

button:hover {
  background-color: #2563eb !important;
  color: white !important;
}

.active-tab {
  background-color: #6b7280 !important; 
  color: white !important;
}


