@import "tailwindcss";

/*MAIN Content*/

.case-main {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:black;

}

/*CLIENT Section*/
.client-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 24px;
}

.client-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.client-dropdown {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.createcase-createClient {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

/*DOOR Section*/
.createcase-catalogue-btn{
    background-color: #001aff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

/*STATUS Section*/
.createcase-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 450px;
  margin-top: 20px;
  color: black;
}

.status-box {
  display: flex;
  flex-direction: column;
}
.status-dropdown {
  width: 180px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}


/*ACTION Buttons*/
.createcase-action-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.createcase-create-btn {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.createcase-cancel-btn{
    background-color: grey;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}