@import "tailwindcss";

/*Case ID*/
.case-id-box {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.case-id-value {
    font-weight: bold;
}

/*MAIN Content*/

h1{
    font-weight: bold;
}

.case-main {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:black;
  font-weight: bold;
}

/*CLIENT Section*/
.client-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 24px;
}

.client-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.client-dropdown {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.createcase-createClient {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

/*DOOR Section*/
.createcase-catalogue-btn{
    background-color: #001aff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

/*STATUS Section*/
.createcase-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 450px;
  margin-top: 20px;
  color: black;
}

.status-box {
  display: flex;
  flex-direction: column;
}
.status-dropdown {
    width: 180px;
    border-radius: 6px;
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}


/*ACTION Buttons*/
.createcase-action-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.createcase-create-btn {
    background-color: #001aff;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.createcase-cancel-btn{
    background-color: grey;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}